# Core training and evaluation dependencies
accelerate
codetiming
datasets
dill
flash-attn
hydra-core
numpy<2.0.0
pandas==2.2.3
peft
pyarrow>=19.0.0
pybind11
pylatexenc
ray[default]>=2.10
tensordict>=0.8.0,<=0.9.1,!=0.9.0
torch
torchdata
torchvision
transformers
wandb
huggingface_hub
backoff==2.2.1
click==8.1.7
faiss_cpu
Flask==3.0.3
flask_cors==5.0.0
fschat==0.2.36
httpx==0.27.2
nltk==3.9.1
openai
psutil
pydantic==2.9.2
PyYAML
rank_bm25==0.2.2
Requests==2.32.3
scikit_learn==1.5.2
scipy==1.14.1
sentence_transformers
tenacity==8.5.0
termcolor==2.5.0
tiktoken==0.7.0
tqdm
Unidecode

